body {
	font-size: 14px;
	margin: 0;
	padding: 0;
}
.no-print {
	display: none;
}
.role {
	page-break-inside: avoid;
}
#section-latest {
	margin-bottom: 1em;
	color: #444;
	font-style: italic;
	font-size: 0.8em;
}
.page-break {
	page-break-after: always;
}
