body {
	margin: 0;
	padding: 0;
}
#resume {
	border: none;
	outline: none;
	padding: 0;
}
a {
	border: none;
}
* {
	color: #000 !important;
}
.role {
	page-break-inside: avoid;
}
#section-skills {
	page-break-before: always;
}
ul.products li a {
	padding: 0;
	border: none !important;
}
ul.products li:not(:last-child) a::after {
	content: ', ';
}
a.anchor::after {
	display: none;
}
.print {
	display: block;
}
.noprint {
	display: none;
}
#section-latest {
	margin-bottom: 1em;
	color: #444;
	font-style: italic;
	font-size: 0.8em;
}
