body {
	font-size: 14px;
	margin: 0;
	padding: 0;
}
.print {
	display: block;
}
.noprint {
	display: none;
}
.role {
	page-break-inside: avoid;
}
#section-skills {
	page-break-before: always;
}
#section-latest {
	margin-bottom: 1em;
	color: #444;
	font-style: italic;
	font-size: 0.8em;
}
