body {
	font-size: 16px;
	width: 52em;
	margin: 5em auto;
	padding: 0;
	background: #fff;
	color: #444;
	cursor: default;
}
#resume {
	padding: 1em;
	outline: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}
a {
	border-bottom: 1px dotted #ccc;
}
a.anchor:hover::after {
	content: '\b6';
	color: #aaa;
}
h1 {
	color: #800;
}
h2 {
	color: #800;
}
.date {
	color: #888;
}
.no-screen {
	display: none;
}
#section-download {
	padding: 0;
	box-sizing: border-box;
	margin-bottom: 5em;
	display: flex;
}
#section-download a {
	text-align: center;
	background-color: #fff;
	outline: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
	flex: 1;
	border: none;
	padding: 2em;
}
#section-download a strong {
	text-transform: uppercase;
	font-family: Arial, sans-serif;
	display: block;
	line-height: 1em;
}
#section-download a svg {
	fill: currentColor;
}
#section-download a:hover {
	background-color: #eee;
	border: none;
	color: #000;
}
