body {
	font-size: 16px;
	width: 52em;
	margin: 2em auto;
	padding: 0;
	background: #fff;
	color: #444;
	cursor: default;
}
#resume {
	padding: 1em;
	outline: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}
a {
	border-bottom: 1px dotted #ccc;
}
a.anchor:hover::after {
	content: '\b6';
	color: #aaa;
}
h1 {
	color: #800;
}
h2 {
	color: #800;
}
.date {
	color: #888;
}
.print {
	display: none;
}
.noprint {
	display: block;
}
#section-download {
	padding: 1em;
	box-sizing: border-box;
}
#section-download a {
	padding: 0.25em;
	background-color: #eee;
}
#section-download a:hover {
	color: #eee;
	background-color: #333;
	border-bottom: 1px solid #800;
}
