body {
	width: 52em;
	margin: 2em auto;
	background: #fff;
	font: 16px Georgia, Times, "Times New Roman", serif;
	line-height: 2em;
	color: #444;
	cursor: default;
	padding: 0;
}
#resume {
	padding: 1em;
	outline: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}
a {
	text-decoration: none;
	color: inherit;
	border-bottom: 1px dotted #ccc;
}
a.anchor {
	border-bottom: none;
}
a.anchor:hover::after {
	content: '\b6';
	color: #aaa;
}
p {
	margin: 0;
}
h1 {
	color: #800;
	margin: 0 0 0.67em;
	font-size: 2em;
	font-style: normal;
	font-family: Cambria, Georgia, serif;
}
h2 {
	font-variant: small-caps;
	letter-spacing: 0.2em;
	color: #800;
}
address {
	display: inline;
}
.separator {
	margin: 0 0.4em;
}
.date {
	float: right;
	color: #888;
}
ul {
	padding: 0;
}
ul ul {
	padding-left: 1em;
}
ul li {
	margin: 1em 0;
	list-style: none;
}
ul ul li {
	margin: 0;
	list-style: disc;
}
ul.products li {
	display: inline-block;
	margin: 0.2em;
}
.print {
	display: none;
}
.noprint {
	display: block;
}
#section-download {
	padding: 1em;
	box-sizing: border-box;
}
#section-download a {
	padding: 0.25em;
	background-color: #eee;
}
#section-download a:hover {
	color: #eee;
	background-color: #333;
	border-bottom: 1px solid #800;
}
