body {
	font-family: Georgia, Times, "Times New Roman", serif;
	line-height: 2em;
	padding: 0;
}
a {
	text-decoration: none;
	color: inherit;
}
a.anchor {
	border-bottom: none;
}
p {
	margin: 0;
}
h1 {
	margin: 0 0 0.67em;
	font-size: 2em;
	font-style: normal;
	font-family: Cambria, Georgia, serif;
}
h2 {
	font-variant: small-caps;
	letter-spacing: 0.2em;
}
address {
	display: inline;
}
.separator {
	margin: 0 0.4em;
}
.separator::after {
	content: '\b7';
}
.date {
	float: right;
}
ul {
	padding: 0;
}
ul ul {
	padding-left: 1em;
}
ul li {
	margin: 1em 0;
	list-style: none;
}
ul ul li {
	margin: 0;
	list-style: disc;
}
ul.products li {
	display: inline-block;
	margin: 0.2em;
}
#section-download {
	padding: 1em;
	box-sizing: border-box;
}
#section-download a {
	padding: 0.25em;
	background-color: #eee;
}
#section-download a:hover {
	color: #eee;
	background-color: #333;
	border-bottom: 1px solid #800;
}
