body {
	margin: 0;
	padding: 0;
	border: none !important;
	box-shadow: none;
}
a {
	border: none;
}
* {
	color: #000 !important;
}
.role {
	page-break-inside: avoid;
}
#section-skills {
	page-break-before: always;
}
ul.products li a {
	padding: 0;
}
ul.products li:not(:last-child) a::after {
	content: ', ';
}
a.anchor::after {
	display: none;
}
